<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFileAppender" fileName="C:\Users\Belnarto\git\mWallet2\logs\mWallet.log"
                     filePattern="C:\Users\Belnarto\git\mWallet2\logs\$${date:yyyy-MM}\mWallet-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%t] %p %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <loggers>
        <Logger level="debug" name="com.vironit.mwallet">
        </Logger>
        <Logger level="error" name="org.hibernate">
        </Logger>
        <Logger level="error" name="org.springframework">
        </Logger>
        <Logger level="error" name="com.mchange.v2">
        </Logger>
        <root level="warn">
            <appender-ref ref="Console" level="warn"/>
            <appender-ref ref="RollingFileAppender" level="debug"/>
        </root>
    </loggers>
</configuration>